<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>467943521276-5spejl0btjslmjqaq5f9602bp2o4j8gk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.467943521276-5spejl0btjslmjqaq5f9602bp2o4j8gk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>467943521276-01e7u0egr5lq9gn5vkmuaf7mcqr4eevs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATYprb4eLWXejFSBdBzSZwgwcz1n5FMaA</string>
	<key>GCM_SENDER_ID</key>
	<string>467943521276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easyitconsulting.HHCApp</string>
	<key>PROJECT_ID</key>
	<string>hhcapp-f6c3c</string>
	<key>STORAGE_BUCKET</key>
	<string>hhcapp-f6c3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:467943521276:ios:d15b4eda1cdfb575fad079</string>
	<key>DATABASE_URL</key>
	<string>https://hhcapp-f6c3c.firebaseio.com</string>
</dict>
</plist>